html { overflow-x: hidden; overflow-y: auto; }

body{
    margin: 0;
    padding: 0;
}

/* Chrome浏览器滚动条隐藏 */
::-webkit-scrollbar{
    display:none;
}

#home{

}

#content{
    width: 100%;
    position: absolute;
    z-index: 50;
}

.content{
    height: 1200px;
}

.scroll-up-div{
    position: absolute;
    z-index: 101;
    left:0;
    bottom: 0;
    width: 100%;
    color: #fff;
    cursor: pointer;
    height: 32px;
    font-size: 18px;
    text-align: center;
    -moz-box-shadow:0px -10px 10px #0000001A inset;            /* For Firefox3.6+ */
    -webkit-box-shadow:0px -10px 10px #0000001A inset;         /* For Chrome5+, Safari5+ */
    box-shadow: 0px -10px 10px #0000001A inset;                 /* For Latest Opera */
}

.scroll-down-div{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    color: #fff;
    cursor: pointer;
    height: 32px;
    font-size: 18px;
    text-align: center;
    -moz-box-shadow:0px 10px 10px #0000001A inset;            /* For Firefox3.6+ */
    -webkit-box-shadow:0px 10px 10px #0000001A inset;         /* For Chrome5+, Safari5+ */
    box-shadow: 0px 10px 10px #0000001A inset;                 /* For Latest Opera */
}

.scroll-down-div i{
    bottom: 0;
    position: absolute;
}

.title{
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 99;
    background-color: #ee9ca7;
}

.title img{
    position: absolute;
    z-index: 100;
}

.title_text{
    width: 50%;
    margin: auto;
    margin-top: 175px;
}

#text{
    margin-top: 55px;
}

.slogon{
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FEFAE9;
    text-align: center;
    margin-top: 20px;
}





/*****************************************************************/
/* 小蛇书签 */
.snak-label{
    position: fixed;
    position: fixed;
    top: 0;
    right: 8px;
    height: 100px;
    width: 55px;
}
.snak{
    width: 55px;
    height: 100px;
    top:-25px;
    background-color: #eed252;
    position: absolute;
    border-radius: 0 0 50px 50px;
    transition:all ease 1s;
    -webkit-transition:all ease 1s;
    -moz-transition:all ease 1s;
    -ms-transition:all ease 1s;

}

.snak:hover{
    top:0;
}

.snak:hover .snak-eyes-left{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #000;
    border: 4px solid #fff;
    bottom: 12px;
}

.snak:hover .snak-eyes-right{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #000;
    border: 4px solid #fff;
    bottom: 12px;
}

.snak:hover .snak-tongue{
    margin-top: 0;
}

.snak a{
    display: block;
    text-align: center;
    color: #fff;
    line-height: 100px;
    cursor: pointer;
}


.snak-eyes-left{
    width: 20px;
    height: 6px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    bottom: 18px;
    left: 0;
}

.snak-eyes-right{
    width: 20px;
    height: 6px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    bottom: 18px;
    right: 0;
}


.snak-tongue{
    width: 13px;
    height: 15px;
    background-color: #d60303;
    left: 21px;
    position: relative;
    margin-top: -15px;
    z-index: -1;
    transition:all ease 0.5s;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
}

.snak-tongue-left{
    position: absolute;
    border-top: 10px solid #d60303;
    border-right: 8px solid transparent;
    width: 0;
    height: 0;
    left: 21px;
}

.snak-tongue-right{
    position: absolute;
    border-top: 10px solid #d60303;
    border-left: 8px solid transparent;
    width: 0;
    height: 0;
    right: 21px;
}

.snak-spot1{
    width: 20px;
    height: 36px;
    border-radius: 0 18px 18px 0;
    border-top: 2px dashed #FFF;
    border-right: 2px dashed #FFF;
    border-bottom: 2px dashed #FFF;
    top: -10px;
    left: 0;
    position: absolute;
}

.snak-spot2{
    width: 22px;
    height: 43px;
    border-radius: 20px 0 0 20px;
    border-top: 2px dashed #FFF;
    border-left: 2px dashed #FFF;
    border-bottom: 2px dashed #FFF;
    top: -10px;
    right: 0;
    position: absolute;
}

.snak-spot-left{
    width: 15px;
    height: 26px;
    position: absolute;
    background-color: #8BC34A;
    border-radius: 0 13px 13px 0;
    border-top: 4px solid #FF9800;
    border-right: 4px solid #FF9800;
    border-bottom: 4px solid #FF9800;
    top: 0;
    left: 0;
}

.snak-spot-right{
    width: 18px;
    height: 32px;
    background-color: #9C27B0;
    border-radius: 30px 0 0 30px;
    border-top: 4px solid #03A9F4;
    border-left: 4px solid #03A9F4;
    border-bottom: 4px solid #03A9F4;
    position: absolute;
    top: 6px;
    right: 0;
}


/*****************************************************************/

/*****************************************************************/
/*首页贺卡*/
.card{
    display:block;
    transform:scale(1,1) translate(0,0) !important ;
    -ms-transform:scale(1,1) translate(0,0) !important ;
    -moz-transform:scale(1,1) translate(0,0) !important ;
    -webkit-transform:scale(1,1) translate(0,0) !important ;
}

.card_wrap{
    position: relative;
    z-index: 100;
}

.card_cont{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    position: fixed;
    display:block;
    background-size:100% auto;
    transition:all ease 1s;
    -webkit-transition:all ease 1s;
    -moz-transition:all ease 1s;
    -ms-transition:all ease 1s;
    transform:scale(0,0);
    -moz-transform:scale(0,0);
    -ms-transform:scale(0,0);
    -o-transform:scale(0,0);
    -webkit-transform:scale(0,0);
    bottom:0;
}

.cardn{
    display:block;
    transform:translate(0,-1750px) !important;
    -moz-transform:translate(0,-1750px) !important;
    -ms-transform:translate(0,-1750px) !important;
    -webkit-transform:translate(0,-1750px) !important;
}

#card1{
    display:block;
    background: #ee9ca7;
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    position: fixed;
    z-index: 100;
}

#card2{
    z-index: 99;
    background-image: url(../img/card2.png);
}

#card3{
    background: #ee7548;
    z-index: 98;
}
